/* Base & Reset */

@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

:root {
    --white: #F2F5F9;
    --blue: #3662E3;
    --bg-color: #111729;
    --dark: #000015;
    --gray: #364153;
    --outfit-font: 'Outfit', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: var(--outfit-font);
}

body, .input-section, .output-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url("./assets/bg-illustration.svg");
    background-repeat: no-repeat;
    background-position: center right;
    background-color: var(--bg-color);
}

input, button {
    background-color: transparent;
    border: transparent;
    outline: none;
    font-size: 18px;
}

label, .btn-container, button {
    display: flex;
    align-items: center;
}

input {
    color: var(--gray);
    font-weight: 700;
    padding: 8px;
    width: auto;
}

button {
    cursor: pointer;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 10px;
    padding: 12px 1.5rem;
}

i {
    font-size: 18px;
}

/* Styles */

.input-section, .output-section {
    width: 50%;
}

.input-section {
    & img {
        width: 250px;
    }

    & form {
        width: 100%;
        margin-top: 1rem;

        & label {
            background-color: var(--dark);
            padding: 8px;
            border-radius: 20px;
            border: 2px solid var(--blue);
            width: auto;
            justify-content: space-between;
        }
    }

    .errMessage {
        color: var(--white);
        font-size: 1.2rem;
        height: 20px;
    }
}

.output-section {
    display: none;

    & .qrContainer {
        background-color: var(--white);
        padding: 1.5rem;
        border-radius: 20px;
    }

    & .btn-container {
        gap: 1rem;
        margin-top: 2rem;

        & button {
            justify-content: center;
            gap: 10px;
        }
    }
}

@media screen and (max-width: 767px) {
    input, button {
        font-size: 1rem;
    }
    
    input {
        padding: 5px;
    }
    
    button {
        padding: 8px 1rem;
    }
    
    i {
        font-size: 1rem;
    }

    .input-section, .output-section {
        width: 90%;
        padding: 1rem;
    }
    
    .input-section {
        & img {
            width: 150px;
        }
    
        & form {
            width: 100%;
    
            & label {
                padding: 5px;
            }
        }
    
        .errMessage {
            font-size: 1rem;
            height: 18px;
        }
    }
}